@charset "utf-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: .14rem;
}

html,
body,
.box {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

html {
    font-size: 625%;
}

a {
    color: #000;
    text-decoration: none;
}

ul li,
ol li {
    list-style: none;
}

.box {
    width: 100%;
    height: 100%;
}

.Header {
    width: 100%;
    height: 0.8rem;
    border-bottom: 1px solid #ccc;
    .header-one {
        display: flex;
        text-align: center;
        line-height: .4rem;
        a {
            flex: .8;
        }
        .p1 {
            flex: 3;
            input {
                outline: none;
                border: none;
                border: 1px solid #000;
                text-align: center;
            }
        }
        .p2 {
            flex: .8
        }
    }
    .header-two {
        width: 100%;
        height: 0.4rem;
        ul {
            display: flex;
            li {
                width: 20%;
                text-align: center;
                line-height: .4rem;
            }
        }
    }
}