* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: .14rem;
}

html,
body,
.wrap {
  width: 100%;
  height: 100%;
}

body {
  font-size: 0.32rem;
}

body,
html {
  font-size: 625%;
  overflow: hidden;
}

a {
  color: #000;
  text-decoration: none;
}

ul li,
ol li {
  list-style: none;
}

.wrap {
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  height: .85rem;
}

.header .header-one {
  display: flex;
}

.header .header-one ul {
  width: 90%;
  display: flex;
  line-height: .4rem;
}

.header .header-one ul li {
  width: 16.6%;
  text-align: center;
}

.header .header-one ul li:first-child {
  color: orange;
  border-bottom: 1px solid orange;
}

.header .header-one i {
  text-align: center;
  display: block;
  width: 10%;
  line-height: .4rem;
}

.header .header-two {
  width: 100%;
  display: flex;
  margin-top: .1rem;
}

.header .header-two .ipt {
  width: 60%;
  background-color: #cecbcb;
  height: 0.25rem;
  line-height: 0.25rem;
  text-align: center;
  margin-left: .1rem;
  border-radius: .05rem;
}

.header .header-two .ipt i {
  color: orangered;
}

.header .header-two .ipt input {
  width: 40%;
  outline: none;
  border: none;
  background-color: #cecbcb;
}

.header .header-two .font {
  width: 40%;
  display: flex;
  text-align: center;
  line-height: 0.25rem;
}

.header .header-two .font i {
  display: block;
  width: 33%;
}

.section {
  width: 100%;
  flex: 1;
  overflow-y: scroll;
}

.section .banner {
  width: 100%;
  padding-bottom: .15rem;
  border-bottom: 1px solid #999;
}

.section .banner img {
  width: 100%;
}

.section .section-nodev {
  width: 100%;
}

.section .section-nodev h1 {
  line-height: .4rem;
  margin-left: .1rem;
}

.section .section-nodev .section-dls {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.section .section-nodev .section-dls dl {
  width: 48%;
  margin-right: .02rem;
}

.section .section-nodev .section-dls dl dt {
  text-align: center;
}

.section .section-nodev .section-dls dl dt img {
  width: 99.8%;
}

.section .section-nodev .section-dls dl dd {
  padding-left: .2rem;
}

.section .section-nodev .section-dls dl dd p {
  color: #ccc;
  font-size: .1rem;
}

.footer {
  width: 100%;
  height: 0.5rem;
  display: flex;
  border-top: 1px solid #ccc;
  padding-top: .05rem;
}

.footer a {
  width: 20%;
  text-align: center;
}

.footer a:first-child {
  color: orange;
}

.footer a i {
  font-size: .2rem;
}
